body {
    background-color: #DCF2F1;
    font-family: 微軟正黑體, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 6px;
    background-image: url("../imgs/sushil-ghimire-5UbIqV58CW8-unsplash.jpg");
    background-size: contain;
}

#container {
    padding: 6px;
}

form {
    text-align: center;
    width: 80%;
    color: aliceblue;
    background-color: #E5E1DA;
    background-image: url("../imgs/brett-jordan-U2q73PfHFpM-unsplash.jpg");
    background-size: cover;
    padding-top: 10px 0;
    border-radius: 10px;
    margin-top: 6px;
    margin: 0 auto;
}

input,
textarea,
label {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
}

button {
    width: 60px;
    background-color: rgb(212, 193, 169);
    border-radius: 6px;
}

a {
    color: rgb(174, 218, 219);
}

a:hover {
    color: brown;
}

.title {
    background-color: #AAD7D9;
    border-radius: 18px;
    font-size: 40px;
    margin: 18px;
    padding: 6px;
    /* 上右下左 | 上下 左右 | 所有 */
    text-align: center;

}